# SNHU Baseball Data Collection/Prep 
 - Loop through snhupenman baseball data link to grab each years stats including:
     - Pitcher Statistics
     - Hitters Statistics 
     - Fielding Statistics 
 - Concating the data to store in SQL Warehouse

In [58]:
import requests
import pandas as pd
import os 
sql_info = pd.read_csv('sqlinfo.csv')

In [59]:
import mysql.connector
import sqlite3
import pandas as pd
# import the module
import pymysql
from sqlalchemy import create_engine
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{password}@localhost/{database}"
                       .format(user = 'root',
                              password = sql_info['info'][0],
                              database = 'college_stats'))

links = []
hitting_sum = []
pitching_sum = []
fielding_sum = []
hitting_log = []
pitching_log = []

for year in range(2000, 2023):
    links.append('https://snhupenmen.com/sports/baseball/stats/{}'.format(year))
    for link in links:
        try:
            hitting_sum.append(pd.read_html(link, header = 0)[0])
            pitching_sum.append(pd.read_html(link, header = 0)[1])
            fielding_sum.append(pd.read_html(link, header = 0)[2])
            hitting_log.append(pd.read_html(link, header = 0)[6])
            pitching_log.append(pd.read_html(link, header = 0)[7])
        except:
            pass

hitting_sum=pd.concat(hitting_sum)
pitching_sum=pd.concat(pitching_sum)
fielding_sum=pd.concat(fielding_sum)
hitting_log=pd.concat(hitting_log)
pitching_log=pd.concat(pitching_log)

hitting_sum.to_sql( "snhu_hitters_sum" , con = engine,if_exists = 'append', chunksize = 3321)
pitching_sum.to_sql( "snhu_pitchers_sum" , con =engine , if_exists = 'append', chunksize = 3321)
fielding_sum.to_sql( "snhu_fielding_sum" , con = engine, if_exists = 'append', chunksize = 3321)
hitting_log.to_sql( "snhu_hitting" , con = engine, if_exists = 'append', chunksize = 3321)
pitching_log.to_sql( "snhu_pitching" , con = engine, if_exists = 'append', chunksize = 3321)

# Cleaning Data

In [60]:
pitching = """SELECT * FROM college_stats.snhu_pitching;"""
pitching = pd.read_sql( pitching, con = engine )

In [61]:
hitting = """SELECT * FROM college_stats.snhu_hitting;"""
hitting = pd.read_sql( hitting, con = engine )

fielding = """SELECT * FROM college_stats.snhu_fielding_sum;"""
fielding = pd.read_sql( fielding, con = engine )

## Pitching Data

In [68]:
pitching.head()

,index,Date,Loc,Opponent,W/L,Score,IP,H,R,ER,...,HR,WP,BK,HBP,IBB,Score.1,W,L,SV,ERA
0,0,3/6/2010,vs,Molloy,L,1-2,8.0,5,2,1,...,0,0,1,0,0,1-2,0,1,0,1.13
1,1,3/6/2010,vs,Molloy,W,5-2,7.0,3,2,0,...,0,0,0,0,0,5-2,1,1,0,0.00
2,2,3/7/2010,at,Dowling,L,1-2,6.2,5,2,1,...,0,1,0,1,2,1-2,1,2,0,1.35
3,3,3/7/2010,at,Dowling,W,3-2,9.0,6,2,1,...,0,0,0,1,1,3-2,2,2,0,1.00
4,4,3/9/2010,vs,Merrimack,W,3-1,7.0,3,1,1,...,0,1,0,1,1,3-1,3,2,0,1.29

In [69]:
pitching.tail()

,index,Date,Loc,Opponent,W/L,Score,IP,H,R,ER,...,HR,WP,BK,HBP,IBB,Score.1,W,L,SV,ERA
4668,54,5/27/2022,at,Molloy,W,7-5,9.0,7,5,2,...,1,1,1,0,0,7-5,45,10,0,2.00
4669,55,5/29/2022,vs,Molloy,W,7-3,9.0,7,3,2,...,0,1,0,0,0,7-3,46,10,0,2.00
4670,56,6/5/2022,vs,Angelo State,L,4-7,9.0,11,7,5,...,0,0,0,1,0,4-7,46,11,0,5.00
4671,57,6/7/2022,vs,West Chester,L,3-7,8.0,9,7,7,...,1,1,1,6,0,3-7,46,12,0,7.88
4672,58,Total,None,None,None,None,486.0,430,240,185,...,39,72,12,38,3,469-240,46,12,2,NaN

In [70]:
pitching.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4673 entries, 0 to 4672
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     4673 non-null   int64
 1   Date      4673 non-null   object
 2   Loc       3104 non-null   object
 3   Opponent  4582 non-null   object
 4   W/L       4582 non-null   object
 5   Score     4582 non-null   object
 6   IP        4673 non-null   float64
 7   H         4673 non-null   int64
 8   R         4673 non-null   int64
 9   ER        4673 non-null   int64
 10  BB        4673 non-null   int64
 11  SO        4673 non-null   int64
 12  2B        4673 non-null   int64
 13  3B        4673 non-null   int64
 14  HR        4673 non-null   int64
 15  WP        4673 non-null   int64
 16  BK        4673 non-null   int64
 17  HBP       4673 non-null   int64
 18  IBB       4673 non-null   int64
 19  Score.1   4673 non-null   object
 20  W         4673 non-null   int64
 21  L         4673 non-null   int64
 22  SV        4673 non-null   int64
 23  ERA       4582 non-null   float64
dtypes: float64(2), int64(16), object(6)
memory usage: 876.3+ KB

# Cleaning Data

In [71]:
def clean(df):    
    df = df[df['Date'] != 'Total']
    df.fillna(value="neutral", inplace=True)
    df['snhu_result'] = df['W/L'].str.split('-', expand = True)
    df['Date'] = df.Date.str.replace('/','-')
    df['Date'] =pd.to_datetime(ddd['Date'])

    return df

hit = clean(hitting)
pitch = clean(pitching)

### Reading back into sql

hit.to_sql('hitting_snhu', con = engine, if_exists = 'append', chunksize = 3321)
pitch.to_sql('pitching_snhu', con = engine, if_exists = 'append', chunksize = 3321)

### Query below details 
 - In this query we aggregate by year to get the:
        - Last 10 games BA
        - AVG HR vs Opp
        - Opp error 
        - AVG HRs vs opp 
        
I then split them up by the year in which the game took place and looped them over a range of years

# Re indexing Table

In [6]:
"""OPTIMIZE TABLE college_stats.hitting_snhu;"""

'OPTIMIZE TABLE college_stats.hitting_snhu;'

In [55]:
data_hitting = """SELECT DISTINCT
    hitting_snhu.Opponent,
    hitting_snhu.level_0 as `index`, 
    hitting_snhu.`Date`, 
    hitting_snhu.Loc, 
    hitting_snhu.AB, 
    hitting_snhu.R, 
    hitting_snhu.H, 
    hitting_snhu.HR, 
    hitting_snhu.E as Opp_E,  
    hitting_snhu.snhu_result,  
    pitching_snhu.R as SNHU_R,
    pitching_snhu.IP
FROM college_stats.hitting_snhu 
INNER JOIN college_stats.pitching_snhu 
    ON hitting_snhu.`Date` = pitching_snhu.`Date` 
    AND hitting_snhu.score = pitching_snhu.score 
    AND hitting_snhu.Opponent = pitching_snhu.Opponent 
LIMIT 0, 50000;"""

raw_features = pd.read_sql(data_hitting , con = engine)

# Convert object columns to float
raw_features['AB'] = raw_features['AB'].astype(float)
raw_features['H'] = raw_features['H'].astype(float)
raw_features['IP'] = raw_features['IP'].astype(float)
raw_features['R'] = raw_features['R'].astype(float)
# Calculate 10 game averages
raw_features['10 Game Avg'] = raw_features['H'].rolling(10, min_periods=1).mean().round(3)

# Calculate running avg opp error
raw_features['Running Opp Error'] = raw_features['Opp_E'].expanding().mean().round(3)

# Calculate batting average (H/AB)
raw_features['Batting Avg'] = (raw_features['H'] / raw_features['AB']).round(3)

# Calculate average running ERA (ER/IP) * 9
#raw_features['ERA'] = ((raw_features['R']/ raw_features['IP'])*9).rolling(1).mean()

### Calculating average ERA by each team to merge on top table

In [56]:
era = """SELECT Opponent, (sum(R)/sum(IP)) * 9 as avg_era_by_team 
FROM college_stats.pitching_snhu
group by Opponent"""
pitching_stats = pd.read_sql(era, con = engine)

### Reading the features into sql

In [57]:
raw_features.to_sql('hitting_features', con=engine, if_exists='replace', chunksize=3321)
pitching_stats.to_sql('pitching_features', con=engine, if_exists='replace', chunksize=3321)

86

# Creating Links to Search for Each Teams Statistics

In [95]:
# Getting unique values from teh hitting list for teams to concat strings in the subdomain to be search through beautiful soup
teams = list(hitting.Opponent.unique())
links = []
for team in teams:
    if team is not None:
        link = team.replace(" ", "+").replace("'", "+")
        links.append('https://www.google.com/search?q=' +link+ '+college+baseball+gamelog')

In [96]:
#Searching the links on google and scraping the searches links that are found in 'div', class_='Gx5Zad fP1Qef xpd EtOod pkphOe'
import requests
from bs4 import BeautifulSoup

main_links = []

for links,teams in zip(links,teams):
    url = str(links)
    headers = {'User-Agent': 'Mozilla/5.0'}
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, 'html.parser')
    link_div = soup.find('div', class_='Gx5Zad fP1Qef xpd EtOod pkphOe')
    link = link_div.find('a').get('href')
    main_links.append(link) 
#    print(link)

In [97]:
# Concating the subdomain to hopefully get connection to all statistics that are on teh sites page 
domain = list(pd.DataFrame(main_links)[0].str.split("/", expand = True)[3])
stats_link = []
for i in domain:     
    link = "www." + i + "/sports/baseball/stats/"
    stats_link.append(link)

## Have to figure out how to loop through all links and get the html